<div class="content">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
        <span class="centerhorizontal">Convert to webp</span>
        <span class="example-spacer"></span>
        <div class="github" title="View sourcecode on github">
            <a href="https://github.com/kellermatthis/webp-converter" target="_blank">
                <img src="assets/git.png" class="icon" >
            </a>
        </div>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-card>
        <mat-card-content>
            <app-converter></app-converter>
        </mat-card-content>
    </mat-card>
</div>
